numpy
scikit-learn
pandas
polars
matplotlib
# secondary dependencies of primary dependencies
# tkinter # on ubuntu sudo apt install python3-tk
tk
# unit tests
pytest
transformers[torch]
huggingface
datasets
torch
torchvision
torchaudio
accelerate>=0.26.0
wandb
evaluate
huggingface_hub[hf_xet]  # sth to do with offline support

# just to follow a tutorial. I think I'll stick to hugging facetutorials
# bert-imdb-extensive-tutorial really messes with other tutorials. Now that it is completed, I am removing its dependencies

# pytorch_pretrained_bert
# keras
# tensorflow