numpy
scikit-learn
pandas
polars
matplotlib
# secondary dependencies of primary dependencies
# tkinter # on ubuntu sudo apt install python3-tk
tk
# unit tests
pytest
transformers[torch]
huggingface
datasets
torch
torchvision
torchaudio
accelerate>=0.26.0